img{
    /* fond d'écran */
    min-height: 100%;
    min-width: 100%;
    
    /* taille et proportion du fond d'écran */
    width: 100%;
    height: auto;
      
    /* position du fond d'écran */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    


  }

